.launch
.springBeans
.project
.settings
.classpath
target
.metadata
/.classpath
projectFilesBackup/
/cache
/.project
/.settings
/**/*.log
/.checkstyle
/.pmd
/.externalToolBuilders
*.ipr
*.iws
*.iml
.idea
